body {
    background-color: lightgrey;
    overflow-y: scroll;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    overflow: auto;
    overflow: initial;
}

a {
    cursor: pointer;
}

#scroll  {
    width: 15%;
    z-index: 99 !important;
    pointer-events: none !important;
}

#navFilter--isotope {
    position: fixed;
    right: 0;
    top: 35%;
    min-width: 18vw;
    text-align: left;
    transform: translateY(-50%);
}

#navFilter--isotope li {
    background-color: var(--color-line);
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    padding-right: 8%;
    cursor: pointer;
    list-style: none;
}

#navFilter--isotope li#all,
#navFilter--isotope li#web,
#navFilter--isotope li#mobile {
    width: 50%;
    transform: translateX(60%);
    transition: all 1s ease-in-out;    
}

#navFilter--isotope li#all:focus,
#navFilter--isotope li#web:focus,
#navFilter--isotope li#mobile:focus,
#navFilter--isotope li.filter--current {
    width: 100% !important;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 800px) {
    #navFilter--isotope {
        position: fixed;
        left: 0;
        top: 35%;
        min-width: 18vw;
        text-align: right;
        transform: translateY(-50%);
    }

    #navFilter--isotope li#all,
    #navFilter--isotope li#web,
    #navFilter--isotope li#mobile {
        width: 50%;
        transform: translateX(-52%);
        transition: all 1s ease-in-out;    
    }

    #navFilter--isotope li#all,
    #navFilter--isotope li#web,
    #navFilter--isotope li#mobile {
        width: 20%;
        transform: translateX(-52%);
        transition: all 1s ease-in-out;    
    }
    
    #navFilter--isotope li#all:focus,
    #navFilter--isotope li#web:focus,
    #navFilter--isotope li#mobile:focus,
    #navFilter--isotope li.filter--current {
        width: 50% !important;
        transition: width 1s ease-in-out;
    }
}